
body {
 background-color: rgb(146, 184, 9);
 /*margin: 0px 5px 0px 5px;*/
 
}



.header {
  grid-area: header;
  width: 100%;
  height: 200px;
  background-image: url("../img/Header.jpg");
  background-size: 100% 100%;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  
  
}


/* the main grid */
.main-grid {
  display: grid;
  grid-gap: 0px;
  margin-top: 200px;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas:
    "sidebar content content"
    "sidebar footer footer";
   color: #444;
}

.menu-grid {
  margin-top: 149px;
  height: 35px;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr;       /* ??? questioning */
  grid-template-areas:                      /* ??? questioning */
    "menu1  menu2  menu2";
  overflow: hidden;
 
    
}

.menu-left-space {
  grid-area: menu1;
  width: auto;
  background-color: transparent
}

.menu-container {
  grid-area: menu2;
  width: auto;
  background-color: rgba(0, 0, 0, 0)
}

.sidebar {
  grid-area: sidebar;
  width: auto;
  height: 100%;
  background-color: red;
 }
  
.content {
   grid-area: content;
   width: auto;
   height: 500px;
   background-color: white;
   overflow: auto;
 }
  
  
.footer {
  grid-area: footer;
  width: auto;
  height: 80px;
  background-color: rgb(255, 0, 128);
 
}





 

    /* Tablet 
    @media only screen and (min-width: 400px) {
      main {
        width: 400px;
        height: 400px;
        background: #441900;
        }
    }  
    */

    /* Desktop */
    @media only screen and (min-width: 600px) {

    }    